
@{
    ViewBag.Title = "Articls";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-section">

        <div class="container" style="width:90%;
        height: 100%;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 65px;" data-aos="fade-up">
            <div class="container">
                <br />
                <articleTitle> 5 tips on how to find a job</articleTitle><br /><br />
                <articleSubtitle> 1. Local experience matters.</articleSubtitle><br />
                <articletext>
                    Therefore, check your visa status and, if you are eligible to work, make sure you make full use of this right to gain local experience. Alternatively, consider also the option of an unpaid internship in a local company. This will help you networking. But most importantly, after the internship, you have every chance to stay in this company if you prove yourself from a professional side.<br />
                </articletext>
                <resourceTitle>
                    Resources to find internships:
                </resourceTitle><br />
                <resourcetext>
                    https://www.goabroad.com/intern-abroad/search/australia/internships-abroad-1 <br />
                    https://au.gradconnection.com/internships/
                </resourcetext><br /><br />
                <articleSubtitle> 2. Update your resume and cover letter.</articleSubtitle><br />
                <articletext>
                    First impression is important - make sure your resume is updated and adapted to Victoria’s working requirements before submitting it.
                </articletext><br />
                <resourceTitle>
                    Resources to fix your resume:
                </resourceTitle><br />
                <resourcetext>
                    https://urbanest.com.au/working-in-australia-writing-a-resume/ <br />
                    https://www.resumestoyou.com.au/
                </resourcetext><br /><br />
                <img src="~/images/article1.png" style="width:100%" />
                <br /><br />
                <articleSubtitle> 3. Attitude is everything.</articleSubtitle><br />
                <articletext>
                    Show passion, enthusiasm and willingness to learn all the time. If you don't have the skills or experience, your attitude can help you find a job. Therefore, your attitude can make you a strong candidate.
                </articletext><br /><br />
                <articleSubtitle> 4. Keep networking.</articleSubtitle><br />
                <articletext>
                    Very often, it is a useful acquaintance that can give you a chance to get a job. Most positions require you to be a team player. As you know, everyone has their own connections, but not everyone succeeds in showing themselves well in this matter. Network everywhere! The main platform for networking in Australia is LinkedIn.
                </articletext><br />
                <resourceTitle>
                    Set up your profile now:
                    <resourcetext>
                        www.linkedin.com
                    </resourcetext>
                </resourceTitle><br />
                <resourceTitle>
                    How to make your LinkedIn profile strike out:
                    <resourcetext>
                        https://youtu.be/_kwqqtpprrE
                    </resourcetext>
                </resourceTitle>
                <br /><br />
                <articleSubtitle> 5. Don't stop, your work will pay off.</articleSubtitle><br />
                <articletext>
                    The job search process can be difficult. However, the most important thing is not to give up, because your efforts will definitely pay off.
                </articletext><br /><br />
            </div>
        </div><br /><br /><br />
        <div class="row justify-content-center ">
            <a href="#article2">
                <img src="~/images/articleVector.png" style="position:center" />
            </a>


        </div>


    </div>

    <div class="site-section" id="article2">

        <div class="container" style="width:90%;
        height: 100%;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 65px;" data-aos="fade-up">
            <div class="container">
                <br />
                <articleTitle> How NOT to write a resume!</articleTitle><br /><br />
                <articleSubtitle> 1. Inadequate volume.</articleSubtitle><br />
                <articletext>
                    It looks strange as an overly voluminous "poem" about the experience of ten pages (sometimes it happens), and an overly short description in two words "sales, customers" (this also often happens), especially if the candidate is applying for a high position and salary.<br /> <br />The most appropriate option is a clear, understandable and structured description of responsibilities, a maximum of 2-3 pages. Do not repeat the same functionality in the description of different jobs. What for? <br />
                </articletext>
                <br /><br />
                <img src="~/images/article21.png" style="width:100%" />
                <br /><br />

                <articleSubtitle> 2. Text without structure</articleSubtitle><br />
                <articletext>
                    Free-form resumes are often unreadable, so don't confuse a resume with an autobiography. And try to give the document structure. If there is a lot of information within the "Experience" section, do not write it in continuous text, make subheadings, bulleted lists - the main thing is that the information is easily perceived.
                </articletext>   <br /><br />
                <img src="~/images/article22.png" style="width:100%" />
                <br /><br />
                <articleSubtitle> 3. Errors and typos.</articleSubtitle><br />
                <articletext>
                    Factual, grammatical, conspicuous syntactic and stylistic errors, and even common typos in the resume of specialists whose work requires literacy, attentiveness, will immediately alienate the recruiter. Let's say a job seeker is applying for a job as an email marketer with the function of writing newsletters, but his resume is full of errors and typos. Is it any wonder that no answers come to his responses?
                </articletext><br /><br />
                <img src="~/images/article23.png" style="width:100%" />
                <br /><br />
            </div>


        </div><br /><br /><br />
        <div class="row justify-content-center ">
            <a href="#article3">
                <img src="~/images/articleVector.png" style="position:center" />
            </a>
        </div>

    </div>

    <div class="site-section" id="article3">

        <div class="container" style="width:90%;
        height: 100%;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 65px;" data-aos="fade-up">
            <div class="container">
                <br />
                <articleTitle>3 tips on how to rock the interview!</articleTitle><br /><br />
                <articleSubtitle> Surprise with your awareness</articleSubtitle><br />
                <articletext>
                    Before the interview, you should carefully study the information about the company, look at its official website and other sources on the Internet. <br />
                </articletext>
                <br /><br />
                <img src="~/images/article31.png" style="width:100%" />
                <br /><br />
                <articleSubtitle> Be yourself in any situation</articleSubtitle><br />
                <articletext>
                    When you are struggling to get an ideal job, you involuntarily want to greatly exaggerate your own merits and the results of your work. This is not worth doing. Be confident about what you are good at and not good at.
                </articletext> <br /><br />
                <img src="~/images/article32.png" style="width:100%" />
                <br /><br />
                <articleSubtitle> Put yourself in a shoes of a recruiter</articleSubtitle><br />
                <articletext>
                    It is useful for any applicant to try to look at what is happening through the eyes of a company employee conducting an interview. Understand what is expected of you in terms of personal and professional qualities, study the job description in detail, do not be afraid to ask questions. This will seriously increase the chances of getting what you want: "You fit us!"
                </articletext><br /><br />
                <br /><br />
            </div>

        </div>

    </div>


    <div class="row justify-content-center">
        <a href="~/Search/quizz" class="btn btn-primary mr-2 mb-2">Go to quizzes  ➔</a>
    </div>





</body>


