
@{
    ViewBag.Title = "Articls";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-wrap">
        <div class="site-blocks-cover" style="overflow: hidden;">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">
                       
                            <h1 style="font-family: Montserrat; font-style: normal; font-weight: bold; font-size: 30px; line-height: 37px; text-align: justify; color: #64C3EF;">5 tips on how to find a job</h1>
                        
                        
                    </div>
                </div>
            </div>
        </div>

        @*<div class="site-section" id="HowitWork">
            <div class="container" >
                <div class="row justify-content-center"data-aos="fade-up" id="article1">
                    <h1>111111</h1>
                </div>
                <div class="row justify-content-center" data-aos="fade-up">
                    <a href="#" class="btn btn-primary mr-2 mb-2">Start analysis  ➔</a>
                </div>
            </div>
        </div>*@
    </div>
</body>
<style>
    #article1 {
        width: 523px;
        height: 813px;
        left: 262px;
        top: 219px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 65px;
    }



</style>

