
@{
    ViewBag.Title = "Articls";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

   <div id="interact-5f5dbfbfd6687000143ab608"></div><script type="text/javascript">var app_5f5dbfbfd6687000143ab608;(function(d, t){var s=d.createElement(t),options={"appId":"5f5dbfbfd6687000143ab608","width":"800","height":"800","async":true,"host":"quiz.tryinteract.com","auto_resize":false,"footer":"show"};s.src='https://i.tryinteract.com/embed/app.js';s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs)if(rs!='complete')if(rs!='loaded')return;try{app_5f5dbfbfd6687000143ab608=new InteractApp();app_5f5dbfbfd6687000143ab608.initialize(options);app_5f5dbfbfd6687000143ab608.display();}catch(e){}};var scr=d.getElementsByTagName(t)[0],par=scr.parentNode;par.insertBefore(s,scr);})(document,'script');</script>
</body>


