@{
    ViewBag.Title = "quizz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <div class="site-section">
        <div class="container">
            <div class="row mb-5 justify-content-center text-center" data-aos="fade-up">
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top" src="~/images/quizz1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Career Quiz</h5>
                            <p class="card-text">Find out which of the six classes of occupations fits you best</p>
                        </div>
                        <div class="card-footer">
                            <a href="#quiz1" class="btn btn-primary">Take Quiz</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="~/images/quizz2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Are You A Creator? Connector? Or Mover?</h5>
                            <p class="card-text">Find out which is your greatest capacity</p>
                        </div>
                        <div class="card-footer">
                            <a href="#quiz2" class="btn btn-primary">Take Quiz</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="~/images/quizz3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Vocation or Vacation: How Passionate Are You Towards Work?</h5>
                            <p class="card-text">Are you passionate about your work? Do you need to find a new job? Answer these 16 questions to find out!</p>
                        </div>
                        <div class="card-footer">
                            <a href="#quiz3" class="btn btn-primary">Take Quiz</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="~/images/quizz4.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">How Much Are You Using Your Deep Genius?</h5>
                            <p class="card-text">Take this quiz and see how effective you are in using your unique gifts to lead, create and succeed. </p>
                        </div>
                        <div class="card-footer">
                            <a href="#quiz4" class="btn btn-primary">Take Quiz</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="~/images/quizz5.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Which Work Personality Are You?</h5>
                            <p class="card-text">Are you The Commander? Peacekeeper? Deserter? or One Man Army in the workplace?Take this quiz & find out now!</p>
                        </div>
                        <div class="card-footer">
                            <a href="#quiz5" class="btn btn-primary">Take Quiz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container justify-content-center text-center" style=" width: 100%;     left: 50%; text-align: left; ">
            <div class="row align-items-stretch">
                <div class="col-12" data-aos="fade-up" id="quiz1">
                    <div id="interact-5f5dbfbfd6687000143ab608"></div>
                    <script type="text/javascript">var app_5f5dbfbfd6687000143ab608; (function (d, t) { var s = d.createElement(t), options = { "appId": "5f5dbfbfd6687000143ab608", "width": "800", "height": "800", "async": true, "host": "quiz.tryinteract.com", "auto_resize": false, "footer": "show" }; s.src = 'https://i.tryinteract.com/embed/app.js'; s.onload = s.onreadystatechange = function () { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { app_5f5dbfbfd6687000143ab608 = new InteractApp(); app_5f5dbfbfd6687000143ab608.initialize(options); app_5f5dbfbfd6687000143ab608.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script');</script>
                </div><br />
                <div class="col-12" data-aos="fade-up" data-aos-delay="100" id="quiz2">

                    <div id="interact-5f60a222bd1e6300142dea81"></div>
                    <script type="text/javascript">var app_5f60a222bd1e6300142dea81; (function (d, t) { var s = d.createElement(t), options = { "appId": "5f60a222bd1e6300142dea81", "width": "800", "height": "800", "async": true, "host": "quiz.tryinteract.com", "auto_resize": false, "footer": "show" }; s.src = 'https://i.tryinteract.com/embed/app.js'; s.onload = s.onreadystatechange = function () { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { app_5f60a222bd1e6300142dea81 = new InteractApp(); app_5f60a222bd1e6300142dea81.initialize(options); app_5f60a222bd1e6300142dea81.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script');</script>
                </div><br />

                <div class="col-12" data-aos="fade-up" data-aos-delay="200" id="quiz3">
                    <div id="interact-5f60a33dbd1e6300142dea8e"></div>
                    <script type="text/javascript">var app_5f60a33dbd1e6300142dea8e; (function (d, t) { var s = d.createElement(t), options = { "appId": "5f60a33dbd1e6300142dea8e", "width": "800", "height": "800", "async": true, "host": "quiz.tryinteract.com", "auto_resize": false, "footer": "show" }; s.src = 'https://i.tryinteract.com/embed/app.js'; s.onload = s.onreadystatechange = function () { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { app_5f60a33dbd1e6300142dea8e = new InteractApp(); app_5f60a33dbd1e6300142dea8e.initialize(options); app_5f60a33dbd1e6300142dea8e.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script');</script>
                </div><br />


                <div class="col-12" data-aos="fade-up" data-aos-delay="300" id="quiz4">
                    <div id="interact-5f60a3d1bd1e6300142dea97"></div>
                    <script type="text/javascript">var app_5f60a3d1bd1e6300142dea97; (function (d, t) { var s = d.createElement(t), options = { "appId": "5f60a3d1bd1e6300142dea97", "width": "800", "height": "800", "async": true, "host": "quiz.tryinteract.com", "auto_resize": false, "footer": "show" }; s.src = 'https://i.tryinteract.com/embed/app.js'; s.onload = s.onreadystatechange = function () { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { app_5f60a3d1bd1e6300142dea97 = new InteractApp(); app_5f60a3d1bd1e6300142dea97.initialize(options); app_5f60a3d1bd1e6300142dea97.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script');</script>
                </div><br />

                <div class="col-12" data-aos="fade-up" data-aos-delay="400" id="quiz5">
                    <div id="interact-5f60a513bd1e6300142deaa6"></div>
                    <script type="text/javascript">var app_5f60a513bd1e6300142deaa6; (function (d, t) { var s = d.createElement(t), options = { "appId": "5f60a513bd1e6300142deaa6", "width": "800", "height": "800", "async": true, "host": "quiz.tryinteract.com", "auto_resize": false, "footer": "show" }; s.src = 'https://i.tryinteract.com/embed/app.js'; s.onload = s.onreadystatechange = function () { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { app_5f60a513bd1e6300142deaa6 = new InteractApp(); app_5f60a513bd1e6300142deaa6.initialize(options); app_5f60a513bd1e6300142deaa6.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script');</script>
                </div>
            </div>
        </div>

    </div>
    <div class="row justify-content-center">
        <a href="../Home/News" class="btn btn-primary mr-2 mb-2">Go to news  ➔</a>
    </div>

</body>
