
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-section" id="features-section">
        <div class="container align-content-center">
            <div class="row justify-content-center text-center" data-aos="fade-up">
                <div class="col-7 text-center  mb-lg-4 mb-md-1 mb-sm-0">
                    <h2 class="section-title" style="color:#27A2DB">Here is how it works</h2>
                </div>
            </div>
            <div class="row justify-content-center ">
                <div class="col-md-10 col-lg-3 mb-4 mb-lg-3" data-aos="fade-up">
                    <div class=" d-block">
                        <img src="~/images/skill_image.png" class="img-fluid" alt="Enter Personal Skill & Education Info:">
                        <h3 style="text-align:center; font-family: Montserrat; font-weight: bold; font-size: 50px; color: #27A2DB">Step 1</h3>
                        <p style="text-align:center; font-family: Montserrat; font-size: 100%">Enter your skill, location, age, and education<br /></p>
                    </div>
                </div>
                <!-- all arrows are hidden on md size screen and smaller -->
                <div class="col-xl-1 col-lg-1  align-self-center ">
                    <img src="~/images/arrow-left-bl.png" class="img-fluid d-none d-lg-block" alt="Next:">
                </div>
                <div class="col-md-10 col-lg-3 mb-4 mb-lg-3 justify-content-center" data-aos="fade-up">
                    <div class=" d-block">
                        <div>
                            <img src="~/images/ml_image.png" class="img-fluid" alt="Machine Model Analysis:">
                            <h3 style="text-align:center; font-family: Montserrat; font-weight: bold; font-size: 50px; color: #27A2DB">Step 2</h3>
                            <p style="text-align:center; font-family: Montserrat; font-size: 100%">Let our AI model work its magic and analyse your input</p>
                        </div>
                    </div>
                </div>
                <!-- all arrows are hidden on md size screen and smaller -->
                <div class="col-xl-1 col-lg-1 align-self-center">
                    <img src="~/images/arrow-left-bl.png" class="img-fluid d-none d-lg-block" alt="Next:">
                </div>
                <div class="col-md-10 col-lg-3 mb-4 mb-lg-3 justify-content-center" data-aos="fade-up">
                    <div class=" d-block">
                        <div>
                            <img src="~/images/result_image.png" class="img-fluid" alt="Get Your Results!:">
                            <h3 style="text-align:center; font-family: Montserrat; font-weight: bold; font-size: 50px; color:#27A2DB">Step 3</h3>
                            <p style="text-align:center; font-family: Montserrat; font-size: 100%">Get the result of how you will most likely find a job in Melbourne.</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <a href="#" class="btn btn-primary mr-2 mb-2">Start analysis  ➔</a>
            </div>
        </div>
    </div>
</body>

